{% extends "base.twig" %}

{% set navbar_dark = true %}
{% block navbar_menu %}
    {% include 'template/navbar_item.twig' with {'href': baseurl ~ '/', 'html': 'Home'} %}
    {% include 'template/navbar_item.twig' with {'href': baseurl ~ '/logout', 'html': 'Logout'} %}
{% endblock navbar_menu %}

{% block body %}
    <div class="container pt-5 d-flex flex-wrap-reverse">
        <div class="col-lg-8 pt-5 pb-4">
            <div id="store">
                <div class="px-2 mb-4">
                    <h2 class="section-heading m-0">Store Days</h2>
                </div>
                <div class="card mb-3">
                    <div class="form-group d-flex flex-wrap py-3 px-2 m-0">
                        <div class="col-md-2 py-1 px-1">
                            <select id="store-day" class="custom-select">
                                <option selected disabled>Day of the Week</option>
                                <option value="mon">Mon</option>
                                <option value="tue">Tue</option>
                                <option value="wed">Wed</option>
                                <option value="thu">Thu</option>
                                <option value="fri">Fri</option>
                                <option value="sat">Sat</option>
                                <option value="sun">Sun</option>
                            </select>
                        </div>
                        <div class="col-md-4 py-1 px-1">
                            <input id="store-open" class="form-control" type="text" placeholder="Opens">    
                        </div>
                        <div class="col-md-4 py-1 px-1">
                            <input id="store-close" class="form-control" type="text" placeholder="Closes">
                        </div>
                        <div class="col-md-2 py-1 px-1">
                            <input id="store-tables" class="form-control" type="text" placeholder="Tables">
                        </div>
                        <div class="w-100 pt-2 px-2 text-right">
                            <div id="store-save" class="btn btn-primary btn-sm">Update</div>
                        </div>
                    </div>
                </div>
                <table id="store-table" class="table table-bordered">
                    <thead>
                        <th>ID</th>
                        <th>Day</th>
                        <th>Opens</th>
                        <th>Closes</th>
                        <th>Tables</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="users">
                <div class="px-2 mb-4">
                    <h2 class="section-heading m-0">Users</h2>
                </div>
                <table id="user-table" class="table table-bordered">
                    <thead>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Admin</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="reservations">
                <div class="px-2 mb-4">
                    <h2 class="section-heading m-0">Reservations</h2>
                </div>
                <div class="card mb-3">
                    <div class="form-group d-flex flex-wrap py-3 px-2 m-0">
                        <div class="col-md-2 py-1 px-1">
                            <input id="reservation-uid" class="form-control" type="text" placeholder="User ID">
                        </div>
                        <div class="col-md-4 py-1 px-1">
                            <input id="reservation-people" class="form-control" type="text" placeholder="People">    
                        </div>
                        <div class="col-md-6 py-1 px-1">
                            <input id="reservation-date" class="form-control" type="text" placeholder="Date">
                        </div>
                        <div class="w-100 pt-2 px-2 text-right">
                            <div id="reservation-save" class="btn btn-primary btn-sm">Create</div>
                        </div>
                    </div>
                </div>
                <table id="reservation-table" class="table table-bordered">
                    <thead>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>People</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 pt-5">
            <div class="card w-100 mt-3">
                <div class="card-body d-flex flex-wrap">
                    <h5 class="card-title text-center w-100">{{ session.user.email }}</h5>
                    {% if session.user.firstname or session.user.lastname %}
                    <h6 class="card-subtitle text-muted w-50 m-0 text-center">
                        {% if session.user.firstname %}
                            {{ session.user.firstname }} 
                        {% endif %}
                        {{session.user.lastname}}
                    </h6>
                    {% else %}
                    <p class="card-text w-100">To make a reservation you have to fill out your details</p>
                    {% endif %}
                    <a href="#details" class="card-link w-50 text-center">My details</a>
                    <a href="#reservations" class="card-link text-center">Reservations</a>
                    <a href="#users" class="card-link text-center">Users</a>
                    <a href="#store" class="card-link text-center">Store</a>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'template/modal_details.twig' %}
{% endblock body %}

{% block custom_js %}
<script>
    const app = {
        availableDays: []
    };
    
    function getReservations () {
        api.ajax({
            url: '/reservation',
            method: 'GET'
        })
        .then(res => res.json())
        .then(data => {
            if (!data.success) {
                return toastr.error(data.description);
            }
            if (app.reservation_table) {
                app.reservation_table.destroy();
                $("#reservation-table tbody").html("");
            }
            let count = 1;
            let cancel_btn = '<div class="btn btn-danger btn-sm cancel-reservation"><i class="fa fa-trash"></i> Cancel</div>';
            data.results.forEach(res => {
                let d = new Date(res.res_date + " " + res.res_time + "Z");
                d = `${d.getDate()}/${d.getMonth()+1}/${d.getFullYear()}, ${d.toLocaleTimeString()}`;
                $("#reservation-table tbody").append(
                    `<tr id="reservation-${res.id}">
                    <td>${res.id}</td>
                    <td>${res.user_id}</td>
                    <td>${res.people}</td>
                    <td>${d}</td>
                    <td>${res.status || cancel_btn }</td>
                    </tr>`
                );
                count++;
            });
            app.reservation_table = $('#reservation-table').DataTable();
        })
        .catch(res => toastr.error(res));
    }
    
    function getUsers () {
        api.ajax({
            url: '/user',
            method: 'GET'
        })
        .then(res => res.json())
        .then(data => {
            if (app.user_table) {
                app.user_table.destroy();
                $("#user-table tbody").html("");
            }
            let str = "";
            data.results.forEach(user => {
                str += `
                    <tr><td>${user.id}</td>
                    <td>${user.email}</td>
                    <td>${user.firstname}</td>
                    <td>${user.lastname }</td>
                    <td>${user.is_admin }</td></tr>`;
            });
            $("#user-table tbody").append(str);
            app.user_table = $('#user-table').DataTable();
        })
        .catch(res => toastr.error(res));
    }
    
    function getStore () {
        api.ajax({
            url: '/store',
            method: 'GET'
        })
        .then(res => res.json())
        .then(data => {
            if (app.store_table) {
                app.store_table.destroy();
                $("#store-table tbody").html("");
            }
            let str = "";
            data.results.forEach(sd => {
                str += `
                    <tr><td>${sd.id}</td>
                    <td>${sd.day}</td>
                    <td>${sd.open_time}</td>
                    <td>${sd.close_time}</td>
                    <td>${sd.tables}</td></tr>`;
            });
            app.availableDays = data.results.map(d => {
                switch (d.day) {
                    case "SUN": d.day = 0; break;
                    case "MON": d.day = 1; break;
                    case "TUE": d.day = 2; break;
                    case "WED": d.day = 3; break;
                    case "THU": d.day = 4; break;
                    case "FRI": d.day = 5; break;
                    case "SAT": d.day = 6; break;
                }
                return d;
            });
            app.res_date.redraw();
            $("#store-table tbody").append(str);
            app.store_table = $('#store-table').DataTable();
        })
        .catch(res => toastr.error(res));
    }
    
    function saveStore () {
        let day = $("#store-day").val();
        let open = $("#store-open").val();
        let close = $("#store-close").val();
        let tables = $("#store-tables").val();
        
        api.ajax({
            url: '/store',
            method: 'POST',
            body: {
                day: day,
                open: open,
                close: close,
                tables: tables
            }
        })
        .then(res => res.json())
        .then(data => {
            if (!data.success) {
                return toastr.error(data.description);
            }
            getStore();
        })
        .catch(res => toastr.error(res));
    }
    
    // Shorthand version of $(document).ready();
    $(() => {
        $('a[href="#details"]').click(() => $("#details-modal").modal("show"));
        $('a[href="#reservations"]').click(() => {
            $("#reservations").show();
            $("#users").hide();
            $("#store").hide();
            getReservations();
        });
        $('a[href="#users"]').click(() => {
            $("#reservations").hide();
            $("#users").show();
            $("#store").hide();
            getUsers();
        });
        $('a[href="#store"]').click(() => {
            $("#reservations").hide();
            $("#users").hide();
            $("#store").show();
            getStore();
        });
        
        $("#store-save").click(saveStore);
        
        $("body").on("click", ".cancel-reservation", function(e){
            let id = $(e.target).parents("tr").attr("id").split("-")[1];
            api.ajax({
                url: '/reservation/' + id,
                method: 'DELETE'
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    toastr.success(data.description);
                    getReservations();
                } else {
                    toastr.error(data.description);
                }
            })
            .catch(err => {
                toastr.error(err);
            });
        });
        
        getReservations();
        getStore();
        
        $("#users").hide();
        $("#store").hide();
        
        $('#reservation-cancel').click(() => $("#reservation-people, #reservation-date, #reservation-time").val(""));
        
        $('#reservation-save').click(() => {
            let uid = $("#reservation-uid").val();
            let people = $('#reservation-people ').val();
            let date = $('#reservation-date').val();
            
            if (!uid) {
                return toastr.error("Please enter a user id");
            }
            if (!people) {
                return toastr.error("Please enter the number of people");
            }
            if (!date) {
                return toastr.error("Please enter the date of the reservation");
            }
            
            api.createReservation({
                uid: uid,
                people: people,
                date: date
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    toastr.success(data.description);
                    getReservations();
                } else {
                    toastr.error(data.description);
                }
            })
            .catch(err => {
                toastr.error(err);
            });
        });
        
        $('#modal-details-button').click(() => {
            let firstname = $("#details-firstname").val();
            let lastname = $("#details-lastname").val();
            
            if (!firstname) {
                return toastr.error("Please enter your firstname");
            }
            
            if (!lastname) {
                return toastr.error("Please enter your lastname");
            }
            
            api.updateProfile({
                firstname: firstname,
                lastname: lastname
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    toastr.success(data.description + ". Reloading!");
                    $("#details-modal").modal("hide");
                    setTimeout(function(){
                        window.location.reload();
                    }, 1000);
                } else {
                    toastr.error(data.description);
                }
            })
            .catch(err => {
                toastr.error(err);
            });
        });
        
        app.res_date = flatpickr("#reservation-date", {
            minDate: new Date(),
            enableTime: true,
            enable: [
                function(date) {
                    let match = false;
                    app.availableDays.forEach(d => {
                        if (date.getDay() == d.day) {
                            match = true;
                        }
                    });
                    if (match) {
                        return true;
                    }
                    return false;
                }
            ],
            onChange: function(selectedDates, dateStr, instance) {
                app.availableDays.forEach(d => {
                    if (selectedDates[0].getDay() == d.day) {
                        instance.config.minTime = d.open_time;
                        instance.config.maxTime = d.close_time;
                    }
                });
            }
        });
        
        flatpickr("#store-open", {
            enableTime: true,
            noCalendar: true
        });
        flatpickr("#store-close", {
            enableTime: true,
            noCalendar: true
        });
    });
</script>
{% endblock custom_js %}