<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ options.site_title }}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <!-- Toastr -->
        <link rel="stylesheet" href="node_modules/toastr/build/toastr.min.css">
        
        {% block custom_css %}{% endblock custom_css %}

    {% endblock head %}
</head>
<body>

    {% block body %}
    {% endblock body %}

    {% block scripts %}
        <!-- jQuery -->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Toastr -->
        <script src="node_modules/toastr/build/toastr.min.js"></script>

        {% block custom_js %}{% endblock custom_js %}

    {% endblock scripts %}
</body>
</html>