<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">We've got what you need!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Come to any of our stores and choose from a number of dishes from any category
                    be it salads, appetizers, main meals, deserts, we've got it all! Or if you know
                    us from our signature dish, come and get your greek souvlaki in under 10 minutes
                    guaranteed or it's on us!
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#service">Get Started!</a>
            </div>
        </div>
    </div>
</section>